## Introduction

With growing usage of the internet, accurate web traffic forecasting is an important problem for service providers. Without proper resources in place websites experience delays that lead to longer customer wait times. In this study we analyze the problem as a time series prediction problem for a well known website called Wikipedia. Various deep learning models have been used for time series forecasting in recent research. The goal of this study is to compare various statistical techniques as well as sequential AI models and evaluate the results across two different metrics: MAE and RMSE. The best performing model can be used for similar forecasting related problems.

In [1]:
# importing the libraries.
import warnings
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

warnings.filterwarnings("ignore")

In [27]:
#Reading the data
#Read the data
train = pd.read_csv('../input/train_1.csv')

In [28]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145063 entries, 0 to 145062
Columns: 551 entries, Page to 2016-12-31
dtypes: float64(550), object(1)
memory usage: 609.8+ MB

Each page can be considered a separate time series. However, our goal is to predict the average web traffic to the given website (Wikipedia). Therefore, we will perform some data pre-processing and convert this to a univariate time series. For each date the average number of visitors will be calculated from the given dataset.

In [29]:
train=train.iloc[:,1:].fillna(0)

In [30]:
train.tail()

,2015-07-01,2015-07-02,2015-07-03,2015-07-04,2015-07-05,2015-07-06,2015-07-07,2015-07-08,2015-07-09,2015-07-10,...,2016-12-22,2016-12-23,2016-12-24,2016-12-25,2016-12-26,2016-12-27,2016-12-28,2016-12-29,2016-12-30,2016-12-31
145058,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,13.0,12.0,13.0,3.0,5.0,10.0
145059,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
145060,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
145061,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
145062,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [31]:
train.loc[145063] = train.mean(numeric_only=True, axis=0)

In [32]:
train=train.iloc[145063,:]

In [36]:
df = train.to_frame().reset_index()

In [38]:
df.rename(columns={'index':'Date',145063:'Average_Users'},inplace=True)

In [40]:
df.describe()

       Average_Users
count     550.000000
mean     1309.765968
std       217.889527
min       876.793910
25%      1176.036538
50%      1282.346811
75%      1400.181369
max      2184.878253

In [41]:
df.to_csv('../out/Univariate_Wikipedia.csv')